[submodule "dsbox-ta2"]
	path = dsbox-ta2
	url = https://github.com/usc-isi-i2/dsbox-ta2
[submodule "ta3ta2-api"]
	path = ta3ta2-api
	url = https://gitlab.datadrivendiscovery.org/d3m/ta3ta2-api
[submodule "spider"]
	path = spider
	url = https://gitlab.datadrivendiscovery.org/michigan/spider
[submodule "dsbox-profiling"]
	path = dsbox-profiling
	url = https://github.com/varunratnakar/dsbox-profiling
[submodule "primitive-interfaces"]
	path = primitive-interfaces
	url = https://gitlab.datadrivendiscovery.org/d3m/primitive-interfaces
	branch = devel
[submodule "dsbox-corex"]
	path = dsbox-corex
	url = https://github.com/usc-isi-i2/dsbox-corex
[submodule "dsbox-cleaning"]
	path = dsbox-cleaning
	url = https://github.com/usc-isi-i2/dsbox-cleaning
